In [1]:
# Import necessary libraries
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
pune_EV = pd.read_csv("Pune_EV.csv")

In [3]:
pune_EV.head()

,No.,Region,address,latitude,longitude,power,pin
0,1,sus,"84, Pashan - Sus Rd, Pashan, Pune, Maharashtra",18.553462,73.756114,7.4 kW,411021
1,2,Balewadi,"Balewadi, Pune, Maharashtra",18.579631,73.762776,7.4 kW,411045
2,3,Balewadi,"The Orchid Hotel, SHREE SHIV CHHATRAPATI SPORT...",18.570929,73.764921,7.4 kW,411045
3,4,Hinjawaadi,"HPR3+2R5, Highmont Rd, Phase 2, Hinjewadi Raji...",18.592928,73.703307,7.4 kW,411057
4,5,Hinjawaadi,"Opposite Indialand Global Tech Park, Old Yes B...",18.596145,73.724591,7.4 kW,411057

In [4]:
# Extract relevant features for clustering
X = pune_EV[['latitude', 'longitude']].values

In [5]:
# Train K-Means clustering model
kmeans = KMeans(n_clusters=7, random_state=42) # Specify the number of clusters
kmeans.fit(X)
pune_EV['kmeans_labels'] = kmeans.labels_

c:\Users\Dell\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [6]:
from sklearn.metrics import silhouette_score

# Calculate silhouette scores
kmeans_silhouette_score = silhouette_score(X, pune_EV['kmeans_labels'])
print("K-Means Silhouette Score:", kmeans_silhouette_score)

K-Means Silhouette Score: 0.5098814565758544

In [7]:
from joblib import dump
dump(kmeans, './../savedmodels/model.joblib')

['./../savedmodels/model.joblib']